{% extends "base.html" %}

{%block title%}{{content}}{%endblock%}
{%block page_content%}
<div>
    <H1>Home</H1>
    <p>This is a basic website explaining a few algorithims that I made for school. I coded all parts of this website with the help of stackoverflow</p>
</div>
<div>
    <h1>Current Algorithims:</h1>
    <ul>
        <li>Sorting:<ul>
            <li>Bubble Sort</li>
            <li>Quicksort</li>
            <li>Bogosort</li>
        </ul>
        </li>
        <li>Pathfinding:
            <ul><li>NONE</li></ul>
        </li>
    </ul>
    <h2>-------------------------------------------------------------------------------------------------</h2>
</div>
<div>
    <h1>Plans for the future:</h1>
    <ul>
        <li>Fix navbars</li>
        <li>Get bootstrap working for pages other than home</li>
        <li>Make the algorithims show what is happening step by step</li>
        <li>Add more text to explainations</li>
        <li>Concepts page</li>
        <li>Add more algorithims
            <ul>
                <li>Ant Colony Optimization</li>
                <li>A* pathfinding</li>
                <li>Linear and Binary Searchs</li>
                <li>Other non list related algorithims</li>
            </ul>
        </li>

    </ul>
</div>
{%endblock%}
